 <link rel="stylesheet" href="/css/styles.css">

<body id="bodyHome">

       
            <div id="divOpacidad">
                <div>
                   <img style="margin-top: 7%;" id="welcome" src="../img/Welcome.png" alt="">
                </div>
           </div>
     


</body>